body {
    background-color: gray;
}

div{
    width: 300px;
    box-sizing: border-box;
    height: 300px;
    border-width:0px 10px 10px; 
    border-style:dotted;
    border-color:black;
    margin: 15px 0px;
}

.red {
    background-color: blue;
    padding-left:20px;
}

.blue {
    background-color: red;
}

.yellow {
    background-color: yellow;
}