body {
    background-color: gray;
}

div{
    width: 300px;
    box-sizing: border-box;
    height: 300px;
    margin: 15px 10px 20px;
}

.red {
    background-color: blue;
    padding-left:20px;
}

.blue {
    background-color: red;
}

.yellow {
    background-color: yellow;
}